.container {
    width: fit-content;
    height: fit-content;
    padding: 30px;

    p {
        margin: 0;
    }
}
.menu-content {
    padding-top: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(87, 90, 251);
    height: 515px;
    border-radius: 5px;
    box-shadow: 3px 3px 13px rgb(101, 88, 88);
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;

    p {
        text-align: left;
        margin-top: 5px;
        cursor: pointer;
        transition: 0.7s ease;

        &:hover {
            opacity: 0.75;
        }
    }
}

.tel:invalid+span:after {
    position: relative;
    content: '✖';
    top: 5px;
    padding-left: 13px;
    padding-right: 10px;
    color: #8b0000;
    font-size: 30px;
}
  
.tel:valid+span:after {
    position: relative;
    top: 5px;
    padding-right: 10px;
    content: '✓';
    padding-left: 15px;
    color: #24cb24;
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .menu-content, .container {
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .menu-content {
        width: 340px;
    }
}